<div class="footer-container">
    this works
    <div class = "footer-test">
        {% for block in section.blocks %}
            {%if block.name == "Footer Heading"%}
                <h1> {{block.id}}</h1>
            {% endif %}
            {%if block.name == "Footer Link"%}
            <a href="{{block.id}}"
            {% endif %}
        {% endfor %}
    </div>
</div>
{% schema %}
  {
    "name": "Footer Block",
    "blocks": [
      {
        "name":"Footer Heading",
        "type":"footet-heading",
        "settings": [
          {
            "type":"text",
            "label":"Heading",
            "id":"heading"
          }
        ]
      },
      {
        "name":"Footer Link",
        "type":"Footer_link",
        "settings":[{
            "type":"text",
            "label":"link",
            "id":"link"
        }]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}