<div class="footer-container">
    this works
    <div class = "footer-test">
        {% for block in section.blocks %}
            {% assign item = section.blocks %}
            {%if item.settings.name == "Footer Heading"%}
                <h1> {{item.settings.name.id}}</h1>
            {% endif %}
            {%if item.settings.name == "Footer Link"%}
            <a href="{{item.setting.name.id}}"> links</a>
            {% endif %} 
        {% endfor %}
    </div>
</div>
{% schema %}
  {
    "name": "Footer Block",
    "blocks": [
      {
        "name":"Footer Heading",
        "type":"footet-heading",
        "settings": [
          {
            "type":"text",
            "label":"Heading",
            "id":"heading"
          }
        ]
      },
      {
        "name":"Footer Link",
        "type":"Footer_link",
        "settings":[{
            "type":"text",
            "label":"link",
            "id":"link"
        }]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}