<div class="footer-container">
    this works
</div>
{% schema %}
  {
    "name": "Footer Block",
    "blocks": [
      {
        "name":"FAQ Items",
        "type":"custom-page",
        "settings": [
          {
            "type":"text",
            "label":"Heading",
            "id":"heading"
          },
          {
            "type":"text",
            "label":"link",
            "id":"link"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}