<div class="footer-container">
    this works
</div>
{% schema %}
  {
    "name": "Footer Block",
    "blocks": [
      {
        "name":"Footer Heading",
        "type":"footet-heading",
        "settings": [
          {
            "type":"text",
            "label":"Heading",
            "id":"heading"
          }
        ]
      },
      {
        "name":"Footer Link",
        "type":"Footer_link",
        "settings":[{
            "type":"text",
            "label":"link",
            "id":"link"
        }]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}