<h1>this works</h1>
{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "label": "Heading",
        "id": "heading",
        "type": "text"
      }
    ],
    "blocks": [
      {
        "name": "footer-link",
        "type": "footer-link",
        "settings": [
          {
            "label": "link",
            "id": "link",
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}}}}