<div class="faq-container">
    <div class="tabs">
        {% for block in section.blocks%}
            {% assign item = block.settings %}
            <div class="tab">
                <input type="checkbox" class="faq-checkbox" id="faq_checkbox {{block.id}}">
                <label for="faq_checkbox {{block.id}}" class="tab-label">
                    {{item.question}}
                </label>
                <div class="tab-content">
                    {{item.answer}}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% schema %}
  {
    "name": "Footer Block",
    "blocks": [
      {
        "name":"FAQ Items",
        "type":"custom-page",
        "settings": [
          {
            "type":"text",
            "label":"Heading",
            "id":"heading"
          },
          {
            "type":"text",
            "label":"link",
            "id":"link"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}