<div class="footer-container">
    this works
    <div class = "footer-test">
        {% for block in section.blocks %}
            {% assign item = section.blocks %}

            <h1> {{item.heading}}</h1>

            <a href="{{item.link}}"> links</a>

        {% endfor %}
    </div>
</div>
{% schema %}
  {
    "name": "Footer Block",
    "blocks": [
      {
        "name":"Footer Heading",
        "type":"footet-heading",
        "settings": [
          {
            "type":"text",
            "label":"Heading",
            "id":"heading"
          }
        ]
      },
      {
        "name":"Footer Link",
        "type":"Footer_link",
        "settings":[{
            "type":"text",
            "label":"link",
            "id":"link"
        }]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}