<h1>this works</h1>
<div>
  {% for block in section.blocks %}
    {% assign link = block.settings %}
    <div class="heading">
      {{block.heading}}
    </div>
    <div class="link">
      <a href="{{item.link}}">{{item.link}}
      </div>

    </a>
  {%endfor%}
</div>
{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "label": "Heading",
        "id": "heading",
        "type": "text"
      }
    ],
    "blocks": [
      {
        "name": "footer-link",
        "type": "footer-link",
        "settings": [
          {
            "label": "link",
            "id": "link",
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}}}}}}}}