* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: Poppins semiBold;
    src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins regular;
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins medium;
    src: url(../font/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins light;
    src: url(../font/Poppins-Light.ttf);
}

/*========================== footer  =========================*/
footer{
    background-color: #f6f6f6;
    padding-top: 82px;
}
.footer-container.row {
    max-width: 1770px;
    padding: 0;
    margin: 0 auto;
}

footer ul {
    padding: 0;
}
.footer-title h5 {
    font-size: 13px;
    font-family: Poppins medium;
    margin-bottom: 18px;
    color: #000;
}
footer ul li{
    margin-bottom: 8px;
}
footer ul li a {
    font-size: 13px;
    font-family: Poppins regular;
    color: #868686;
}

footer ul li a:hover {
    color: #000;
}

.footer-list.row {
    margin: 0;
    padding: 0 15px;
    margin-top: 10px;
}
.footer-list>div {
    padding-right: 0;
    padding-left: 0;
}

/* .footer-list>div:not(:first-child) {
    margin-left: -6px;
} */

.subscribe {
    margin-left: auto;
}

.subscribe .title span {
    line-height: 32px;
    display: block;
    font-size: 26px;
    font-family: Poppins regular;
    color: #000;
}

.subscribe .subtitle{
    margin-top: 15px;
}
.subscribe .subtitle span {
    display: block;
    font-size: 13px;
    font-family: Poppins regular;
    color: #868686
}

.send-email {
    height: 34px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent;
    border-bottom: 2px solid #000;
    margin-top: 27px;
}

.send-email input {
    font-size: 13px;
    font-family: Poppins medium;
    border: none;
    width: 100%;
    max-width: calc(100% - 75px);
    outline: none;
    line-height: 40px;
    background-color: transparent;
}
.send-email input:focus-visible{
    border: none;
    box-shadow: none;
}
.send-email input::placeholder{
    color: #868686;
}
.send-email button {
    width: 75px;
    background-color: unset;
    border: none;
    font-size: 13px;
    font-family: Poppins medium;
}

.footer-social {
    display: flex;
    margin-top: 40px;
}

.footer-social>a {
    display: flex;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.footer-social>a:hover {
    border: 0.5px solid rgba(0 0 0);
}

.footer-social>a:not(:first-child) {
    margin-left: 12px;
}

.footer-social>a i {
    color: #000;
}
.footer-bot{
    margin-top: 33px;
    padding: 17px 0 19px 0;
    border-top: 1px solid rgba(0 0 0 /0.2);
}
.footer-bot>div>div{
    padding: 0;
}
.footer-bot>div{
    max-width: 1770px;
    padding: 0 15px;
    margin: 0 auto;
}
.footer-bot>div>div:last-child{
    display: flex;
    justify-content: flex-end;
}
.footer-bot-content span{
    font-size: 12px;
    color: #868686;
    font-family: Poppins regular;
}
.footer-bot-content, .footer-bot-img{
    width: fit-content;
}
.footer-bot-img{
    text-align: end;
}